body {
    margin:0px;
}

#homepage {
	/* background: linear-gradient(-45deg, #ffb67d, #ff79c8, #7db7fa, #66cca5);
	background-size: 2000% 2000%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
    background-color: #ff79c8;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding:16px;
}

#projectPages {
    background-color: #66cca5;
    padding:16px;
}

#subPage{
    background-color: #ffb67d;
   padding:16px;
}

#aboutPage{
    background-color: #7db7fa;
   padding:16px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
html, body {
    height: 100%;
}

#nav {
    position: fixed;
    z-index: 30;
}

.logo {
    border: 3px solid black;
    padding: 5px;
    background: none;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 10px;
}

.logo:hover {
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 100% 1800%;

-webkit-animation: rainbow 5s linear infinite;
-z-animation: rainbow 5s linear infinite;
-o-animation: rainbow 5s linear infinite;
  animation: rainbow 5s linear infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
    


nav ul {
    list-style-type: none;
    margin-top: 46px;
}

nav h1 {
    font-size: 120%;
    font-weight: 400;
    margin: 5px 5px 1px 5px;
}

nav ul li {
    font-family: maple-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 1.25rem;
    margin: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a.active {
    text-decoration: line-through; 
}



a.work-list-item {
    color: black;
    text-decoration: none;
}

.work-list-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


::selection {
    background: #ff0;
    color: #333;
}

.work-list{
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.work-list-item {
    display: inline-block;
    width: 38.9%;
    margin: 4.15%;
    border: 3px solid black;
    vertical-align: middle;
    color: black;
}

.work-list-item:hover {
    background-color: #ffff50;
}

.work-list-cover {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 177.725%;
}

.work-list-title {
    padding: 0.3em 0.6em 0.5em;
    font-size: 1rem;
    border-top: 3px solid black;
    text-align: left;
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-footer {
    padding: 0 1.33rem 2.33rem;
    text-align: left;
    background-color: none;
}
.main-footer a {
    color: inherit;
    margin: 0 1rem;
    font-family: maple-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.sticky {
    width: 200px;
    height: 150px;
    background: linear-gradient(135deg, rgb(255, 255, 0) 0%, rgb(0, 204, 68) 100%);
    position: relative;
    z-index: 1;
    inset: 100px auto auto 50px;
  }
  
  .draggable.dragging {
    user-select: none;
  }
  
  .dragger {
    height: 30px;
    background:rgb(0, 204, 68) ;
  }
  
  .dragger::before {
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 5px;
    display: inline-block;
  }

  .draggable p {
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
  }

  .sketch {
      max-width: 500px;
    max-height: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 10px;
  }

  #sketchContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 70vw;
      flex-wrap: wrap;
  }

  .sketchImage {
      width: 100%;
      max-height:500px;
      border: 3px black solid;
  }

  #pageContainer{
    display:flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin-top:50px;
    margin-bottom:50px;
  }

  .headingText {
    font-family: maple-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 3.25rem;
    margin-bottom: 10px;
  }

  .bodyText {
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  h2{
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
  }

  h3{
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
  }

  .readingImage{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .pageBodyContainer{
    display: flex;
    max-width: 70vw;
    flex-direction: column;
    align-items: center;
  }

  .aboutBodyContainer{
    display: flex;
    max-width: 70vw;
    flex-direction: row;
    align-items: center;
    margin-top:100px;
    margin-bottom: 500px;
  }

  .imageContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    height: 80vh;
    border: 3px black solid;
  }

  .articleLink{
    text-decoration: underline;
  }

  .articleInfo{
      background-color: #ffb67d;
      border: 3px black solid;
      padding: 20px;
      width: 30vw;
      margin-bottom: 50px;
  }

  .subPhoto {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .subPhotoContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 30vw;
  }

  .aboutImageContainer{
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 30vw;
    border: 3px black solid;
    margin-right: 60px;
  }

  .aboutImage{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .aboutText{
      
      border: 3px black solid;
      padding: 20px;
      width: 30vw;
      margin-bottom: 50px;
  }

  .backgroundCol1{
    background-color: #ff79c8;
  }

  .backgroundCol2{
    background-color:#66cca5;
  }

  .rightAboutCol{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }

  .confoundingToolsImageContainer{
      max-width: 40vw;
      border: 3px black solid;
      margin-top:50px;
      margin-bottom: 100px;
  }

  .confoundingToolsImage{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .confoundingBlockContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top:50px;
  }

  .CTleftCol{
      display: flex;
      flex-direction: column;
      width: 25vw;
  }

  .CTmiddleCol{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 25vw;
      margin-left: 10px;
      margin-right: 30px;
  }

  .CTrightCol{
      display: flex;
      flex-direction: column;
      width: 15vw;
  }

  .MerightCol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin-left: 10px;
    margin-right: 30px;
  }

  .CTmainPhotosRightContainer{
    border: 3px black solid;
    margin-top:50px;
    margin-bottom: 50px;
  }

  .CTmainPhotoRight{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .CTgridImg{
      max-width: 30%;
      margin:10px;
  }

  .MegridImg{
    max-width: 40%;
    margin:10px;
  }

  .CTimg{
      max-width: 100%;
        height: auto;
        object-fit: contain;
  }
  

 


  
  
  







/*

Maple Bold

font-family: maple-web, sans-serif;

font-weight: 700;

font-style: normal;


Maple Bold Italic

font-family: maple-web, sans-serif;

font-weight: 700;

font-style: italic;


Maple Regular

font-family: maple-web, sans-serif;

font-weight: 400;

font-style: normal;


Maple Italic

font-family: maple-web, sans-serif;

font-weight: 400;

font-style: italic;

Clone Rounded Latin Bold

font-family: clone-rounded-latin, sans-serif;

font-weight: 700;

font-style: normal;


Clone Rounded Latin Regular

font-family: clone-rounded-latin, sans-serif;

font-weight: 400;

font-style: normal;


Clone Rounded PE Regular

font-family: clone-rounded-pe, sans-serif;

font-weight: 400;

font-style: normal;


Clone Rounded PE Bold

font-family: clone-rounded-pe, sans-serif;

font-weight: 700;

font-style: normal;





*/